.link{
    list-style: none;
    text-decoration: none;
    color: white;
}
.navP{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.762);
    margin-top: 2%;
    font-family: "Rubik";
    font-style: italic;
    font-weight: 100;
}
.divNav{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(219, 216, 216);
    align-items: center;
    padding-top: 1%;
}